*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* ****************** main styling **************** */

body{
  display: flex;
  justify-content: center;
}

.container{
  border: solid;
  width: 800px;
  height:1200px;
  background-color: #778738;
  margin-top: 40px;
justify-content: center;
  
}

.logo{
    width: 700px;
    height: 300px;
    margin:40px 40px ;
    border: transparent;
    border-radius: 10px;

}
.text{
    text-align: center;
    font-family:"CentGothWGL","Arial",'sans-serif';
    line-height: 1.15;
    color: #4d4d4d;
}

